
/* General Layout */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

header {
  background-color: #9097C0;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 2em;
}

.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  padding: 20px;
  position: fixed;
  height: 100%;
}

.sidebar a {
  text-decoration: none;
  color: #505050;
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar a:hover {
  background-color: #9097C0;
  color: #fff;
}


.main-content {
  margin-left: 270px;
  padding: 20px;
}

/* Card Styling */
.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.card-header {
  font-size: 1.5em;
  font-weight: bold;
  color: #505050;
}

.card-content {
  color: #707070;
  margin-top: 10px;
}

.card img {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 15px;
}


.btn-primary {
  background-color: #9097C0;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #707D92;
}
